<!DOCTYPE html>
<html lang="en-gb">
	<head>
		<title>Backbone Tutorial Application</title>
		<link rel="stylesheet" href="/css/global.css" />
	</head>
	<body>
		<form id="task-form" action="/tasks" method="POST">
			<label for="field-comment">Comment</label>
			<input id="field-comment" name="comment" placeholder="Enter a todo here&hellip;" />
			<button class="add" type="submit">Add</button>
		</form>
		<ul id="task-list"></ul>
		<script>function bootstrap() { return <%= $tasks.compact.to_json %>; }</script>
		<script src="/javascript/zepto.js"></script>
		<script src="/javascript/underscore.js"></script>
		<script src="/javascript/backbone.js"></script>
		<script src="/javascript/application.js"></script>
	</body>
</html>
